*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(182, 180, 180);
}
.content{
    width: 75%;
    margin:0 auto;
    padding: 25px;
    background-color: rgb(13, 13, 91);
    color: #fff;
}
.list-unstyled li{
    padding: 20px 0;
}